:root{
  --cor-de-fundo: green;
  --cor-da-caixa: white;
  --tamanho-lado-caixa: 200px;
}

.img{
  height: 30%;
}

.container{
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-de-fundo);
  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa{
  background-color: var(--cor-da-caixa);
  width: var(--tamanho-lado-caixa);
  height: var(--tamanho-lado-caixa);
  border-radius: 40px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}