.container{
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img{
  height: 30%
}

.caixa{
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 40px;
  border: 1px solid black;
  margin: 10px 0;
  padding: 30px;
  box-sizing: border-box;
}

.titulo{
  padding: 20px;
  background-color: aqua;
}

.texto{
  margin: 20px;
  padding: 20px;
  background-color: green;
}