.linha
{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coluna
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}